# Eclipse
.classpath
.project
.settings/
bin/
target/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos temporários
*.log
*.tmp
*.temp
*.class

# Diretórios do sistema
.DS_Store
Thumbs.db